

    /* Comentario .css*/
    /* buscarEtiquetas{*/
    /* Etiqueta */
h1,h2{
    /* Nombre-propiedad:valor-propiedad*/
    color: orangered;

}
/*ID*/
#rojo{
    color: rebeccapurple;
}
/*Clase*/
.bg-green{
    background-color: greenyellow;
}
.border-cafe{
    border-style: solid;
    border-width: 3px;
    border-color: brown;
}


/*Style*/

/*QUERY SELECTORS   */
h1.bg-green, h2.amarillo{
    background-color: red;
}

    .transformacion-2d{
        -ms-transform: translate(10px, 20px); /* IE 9 */
        -webkit-transform: translate(10px, 20px); /* Safari */
        transform: translate(10px, 30px);
        transform: rotate(10deg);
    }
